<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="VitalSignsBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="VitalSignsServer.VitalSignsService">
        <endpoint address="net.tcp://127.0.0.1:50004/VitalSignsServiceEndPoint"
            binding="netTcpBinding" bindingConfiguration="" contract="VitalSignsServer.IVitalSignsService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:50004/VitalSignsServiceEndPoint" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>